body {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: wheat;
}

h3 {
    color: red;
    text-align: center;
    text-decoration: underline red;
}

div {
    max-width: 50%;
}